---
---
<!DOCTYPE html>
<html>
    <head>
        {% include_relative _templates/header.html %}
        <title>ambiguous.name animations</title>
    </head>
    <body>
        <div class="content">
            <a href="/" style="text-decoration: none;"><h1>My Animations</h1></a>
            {% assign animations = site.animations | sort: 'date' | reverse%}
            {% for animation in animations %}
            <div class="jumbotron">
                <div class="jumbotron-content">
                    <h1>{{animation.title}}</h1>
                    <video src="/assets/animations/{{ animation.name }}" controls="true" {% if animation.loop %} loop="" {% endif %} ></video>
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>