@keyframes backnforth{
  0%{flex-grow: 0};
  100%{flex-grow: 1};
}
.background{
  z-index: -1; margin: 0; padding:0; position: absolute; width: 100%; height: 100%; left: 0; top: 0;
}
.background .row .bg-success{
  animation-name: backnforth;
  animation-duration: 5s;
  animation-direction:alternate-reverse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.background .row .bg-warning{
  animation-name: backnforth;
  animation-duration: 5s;
  animation-direction:alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 5s;
  animation-timing-function: ease-in-out;
}
.background .row .bg-danger{
  animation-name: backnforth;
  animation-duration: 5s;
  animation-direction:alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 13s;
  animation-timing-function: ease-in-out;
}
.background .row .bg-primary{
  animation-name: backnforth;
  animation-duration: 5s;
  animation-direction:alternate-reverse;
  animation-iteration-count: infinite;
  animation-delay: 19s;
  animation-timing-function: ease-in-out;
}
.background{
  -webkit-filter: blur(100px);
  filter: blur(100px);
}
