---
---
<!DOCTYPE html>
<html lang="en">
    <head>
        {% include_relative _templates/header.html %}
        <title>ambiguous.name</title>
    </head>
    <body>
        <div class="content">
            <h1>Hello!</h1>
            <p>I'm Tyler, I've been coding since I was 10, and I do programming things.</p>
            <p>
                Socials:
            </p>
            <p>
                <a href="https://www.github.com/ambiguousname/"><img width="100" height="100" src="/assets/icons/github-mark-white.svg"/></a>
                <a rel="me" href="https://mathstodon.xyz/@ambiguousname"><img width="100" height="100" src="/assets/icons/mastodon-white.svg"/></a>
                <a href="https://ambiguous-name.itch.io/"><img width="100" height="100" src="/assets/icons/itchio-textless-white.svg"/></a>
                <a href="/feed.xml"><img width="100" height="100" src="/assets/icons/RSS-icon.svg"/></a>
            </p>
            <p>
                I sometimes <a href="/blog">post here on my blog</a>. I also make <a href="/animations">animations in Blender</a> from time to time.
            </p>
            <p>
                Email me: <code>ambiguousname (at) this website's URL/domain name</code> 
            </p>

            <h1>A Few Notable Projects:</h1>

            {% assign projects = site.projects | sort: 'date' | reverse%}
            {% for project in projects %}
            <div class="jumbotron" style="background-image: url(/assets/images/{{ project.image }}); {% if project.scale %}background-size: {{ project.scale }}; {% endif %}">
                <div class="jumbotron-content">
                    <h1>{{ project.name }}</h1>
                    {{ project.content }}
                </div>
            </div>
            {% endfor %}
        </div>
    </body>
</html>