::selection{
    color: #282828;
    background-color: #ffffff;
  }
  ::-moz-selection{
    color: #282828;
    background-color: #ffffff;
}
body {
    color: #ffffff;
    background: #1a8377;
    font-size: 20px;
    font-family: sans-serif;
}
.content {
    max-width: 50%;
    margin: auto;
    padding: 5px;
    text-align: center;
}

a {
    color: #ffffff;
}

a:visited {
    color: #dddddd;
}

.jumbotron {
    margin: 20px 10px 20px 10px;
    width: 500px;
    max-width: 100%;
    height: 500px;
    display: inline-grid;
}

.jumbotron-content{
    background-color: #00000099;
    color: #ffffff;
    padding: 40px;
    padding-bottom: 40px;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.jumbotron-content:hover {
    background-color: #000000cc;
    color: #ffffffff;
}

.jumbotron-content:active{
    background-color: #000000dd;
}
h1 {
    font-size: 50px;
}