.center{
  text-align: center;
  line-height: 30vh;
  height: 100vh;
}
.center p, h1{
  vertical-align: middle;
  line-height: 1.5;
  display: inline;
}
.center p{
  display: block;
}
.center div{
  vertical-align: middle;
  line-height: 1.5;
}
body{
  /*For cleanliness. Hopefully everything is visible, but that's why we do testing.*/
  overflow: hidden;
}
