.center{
  text-align: center;
  line-height: 30vh;
  height: 100vh;
}
.center p, h1{
  vertical-align: middle;
  line-height: 1.5;
  display: inline;
}
.center p{
  display: block;
}
.center div{
  vertical-align: middle;
  line-height: 1.5;
}
body{
  /*For cleanliness. Hopefully everything is visible, but that's why we do testing.*/
  overflow: hidden;
}
.nav-link{
  transition-duration: 0.4s;
  overflow: none;
}
@keyframes border{
  0% {opacity: 1;}
  25% {opacity: 0.2;}
}
.nav-link:hover{
  padding-left: 10%;
  padding-right: 10%;
}
.nav-link:active{
  animation-name: border;
  animation-duration: 1s;
  opacity: 0.2;
}
.list-group-item{
  margin: 0%;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}
.list-group-item:hover{
  margin: 1%;
}
.list-group-item:active{
  margin: 2%;
}
