::selection{
    color: #282828;
    background-color: #ffffff;
  }
  ::-moz-selection{
    color: #282828;
    background-color: #ffffff;
}
body {
    color: #ffffff;
    background: #1a8377;
    font-size: 20px;
    font-family: sans-serif;
}
.content {
    margin: auto;
    padding: 5px 10%;
    text-align: center;
}

.post-content{
    font-size: 25px;
}

a {
    color: #7adca9;
}

a:visited {
    color: #7adca9;
}

.jumbotron {
    margin: 20px 10px 20px 10px;
    width: 500px;
    max-width: 100%;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    display: inline-grid;
}

.jumbotron video {
    max-width: 100%;
}

.jumbotron-content{
    background-color: #00000099;
    color: #ffffff;
    padding: 40px;
    padding-bottom: 40px;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.jumbotron-content:hover {
    background-color: #000000cc;
    color: #ffffffff;
}

.jumbotron-content:active{
    background-color: #000000dd;
}
h1 {
    font-size: 50px;
}

.post-excerpt > p:last-child::after {
    content: '...';
}

.post-content{
    margin: 20px 10px;
    transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    text-align: left;
    line-height: 2em;
    background-color: #00000055;
    padding: 40px;
}

.post-content * {
    max-width: 100%;
}

.post-content img {
    max-width: 100%;
}

input[type=text], input[type=email] {
    width: 500px;
    height: 100px;
    text-align: center;
}

textarea {
    width: 500px;
}

input, textarea, button {
    background-color: #000000cc;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
}

button {
    width: 400px;
    height: 100px;
    background-color: #000000aa;
    transition: 1s;
}

button:hover {
    cursor: pointer;
    background-color: #000000cc;
}

.highlight pre {
    padding-left: 1%;
    overflow: scroll;
    font-size: 0.7em;
    line-height: 1.5em;
    tab-size: 2;
}
