::selection{
  color: #00FF33;
  background-color: none;
}
h3{
  text-align: center;
}
a{
  color: #000000;
}
a:visited{
  color: #111111;
}
body{
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto Mono', monospace;
}
