---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/assets/images/Identicon.png?v=1" type="image/x-icon" />
        <meta name="description" content="Tyler's Portfolio/Website thingamajigger" />
        <meta name="author" content="Tyler K." />
        <meta name="og:site_name" content="Tyler's Portfolio/Website thingamajigger"></meta>
        <meta name="og:title" content="{{ page.title }}"></meta>
        <meta name="og:type" content="website"></meta>
        {% if page.img %}
            <meta name="og:image" content="{{ page.img }}"></meta>
        {% endif %}
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/stylesheet.css" />
        <link rel="stylesheet" href="/assets/css/monokai.css"/>
        <script defer data-domain="ambiguousname.github.io" src="https://plausible.io/js/script.js"></script>
        <script defer data-domain="ambiguousname.github.io" src="https://plausible.io/js/script.outbound-links.js"></script>
    </head>
    <body>
        <div class="content">
            <a href="/"><h1>{{ page.title }}</h1></a>
            {% if page.co-authors %}
            <h2>Written with {{ page.co-authors }}</h2>
            {% endif %}
            {% if page.updated %} 
            <h3> Last Updated {{ page.updated }}</h3>
            {% endif %}
            <div class="post-content">
                {{ content }}
            </div>
        </div>
    </body>
</html>