---
---
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="icon" href="/assets/images/Identicon.png?v=1" type="image/x-icon" />
        <meta name="author" content="ambiguousname" />
        <meta name="og:site_name" content="ambiguous.name"></meta>
        <meta name="og:title" content="{{ page.title }}"></meta>
        <meta name="og:type" content="website"></meta>
        {% if page.image %}
            <meta name="og:image" content="{{ page.image }}"></meta>
        {% endif %}
        <title>ambiguous.name - {{ page.title }}</title>
        <link rel="stylesheet" href="/assets/css/stylesheet.css" />
        <link rel="stylesheet" href="/assets/css/monokai.css"/>
        {% if page.hidden %}
		    <meta name="robots" content="noindex">
        {% endif %}
    </head>
    <body>
        <div class="content">
            <a href="/blog"><h1>{{ page.title }}</h1></a>
            {% if page.author %}
            <h2>Written by 
                {% if page.author.name %}
                    <a href="{{ page.author.uri }}">{{ page.author.name }}</a>
                {% else %}
                    {{ page.author }}
                {% endif %}
            </h2>
            {% endif %}
            {% if page.last_modified_at %}
            <h3> Last Updated {{ page.last_modified_at | date: "%D %H:%M %Z" }}</h3>
            {% endif %}
            <div class="post-content">
                <img src="{{ page.image }}" class="main-image"/>
                {{ content }}
            </div>
        </div>
    </body>
</html>